---
import Layout from "@layouts/Layout.astro";
---

<Layout title="웹접근성 | about">
    <h1>about</h1>
    <div style={{height : "1000px", width : "100%", background : "orange"}} >
        test123
    </div>
</Layout>