---
import {envLinkUrl} from "./components/head/env"
import { Toggle } from 'astro-theme-toggle'

---

<nav id="container">
	<ul role="list">
		<li>
			<a href={envLinkUrl('about')}>about</a>
		</li>
		<li>
			<a href={envLinkUrl('product')}>product</a>
		</li>
		<li>
			<a href={envLinkUrl('product/pie')}>pie</a>
		</li>
	</ul>
	<Toggle style="width: 32px; height: 32px;">토글</Toggle>
</nav>

<style lang="scss">
	#container {
		display: flex;
		justify-content: space-between;
		flex: 1;
	}
	nav {
		ul {
			display: flex;
			gap: 12px;
			align-items: center;
		}
		li {	
			list-style: none;
		}
		a {
			font-size: 20px;
			text-decoration: none;
    		color: var(--text-color);
			font-weight: 600;
		}
		
		

	}

	@media all and (max-width: 768px) {
		nav {
			display: none;
		}
	}
	
</style>
