---

const {href,target,variant, size='m', compacted=false ,class:className} = Astro.props;
---

<a class:list={[className, variant, 'size--'+size, compacted    && "compacted"]} href={href} target={target}>
    <slot/>
</a>


<style lang="scss">
    @use "../../style/mixin/index.scss" as *;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center ;
        gap: 8px;   
        padding: 8px 20px;
        border-radius: rem(24);
        list-style: none;
        text-decoration: none;
        color : #fff;
        background-color: #222;

        
        &.compacted {
            width: 100%;
        }

        &.size {
            &--s {
                height: 24px;
            }
            &--m {
                height: 32px;
            }
            &--l {
                height: 40px;
            }   
        }
        
        &.primary {
            background-color: setColor($color : 'blue');
        }
        &.secondary {
            background-color: setColor($color : 'purple' );
        }
        &.warring {
            background-color: setColor( $number : 800);
        }   
        

    }

    @media all and (max-width : 768px) {
        a {
            justify-content: center;
            width: 80%;
        }
    }
</style>