---

const {href,target,variant , class:className} = Astro.props;
---

<a class:list={[className, variant]} href={href} target={target}>
    <slot/>
</a>


<style lang="scss">
    @use "../../style/mixin/index.scss" as *;

    a {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        padding: 8px 20px;
        border-radius: rem(24);
        list-style: none;
        text-decoration: none;
        color : #fff;
        background-color: #222;

        &.primary {
            background-color: var(--foundation-color-main-500);
        }
        &.warring {
            background-color: var(--foundation-color-sementic-red-500);
        }

    }

    @media all and (max-width : 768px) {
        a {
            justify-content: center;
            width: 80%;
        }
    }
</style>