---
const {href,target, class:className} = Astro.props;

---

<a class={className} href={href} target={target}>
    <slot/>
</a>


<style lang="scss">
    @use "../../share/style/mixin/index.scss" as *;

    a {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        padding: 8px 20px;
        border-radius: rem(24);
        list-style: none;
        text-decoration: none;
        color : #fff;
        background-color: #222;
    }

    @media all and (max-width : 768px) {
        a {
            justify-content: center;
            width: 80%;
        }
    }
</style>