<div class="swiper">
    <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-color: crimson;">Slide 1</div>
            <div class="swiper-slide" style="background-color: goldenrod;">Slide 2</div>
            <div class="swiper-slide" style="background-color: darkcyan;">Slide 3</div>
            <div class="swiper-slide" style="background-color: crimson;">Slide 4</div>
            <div class="swiper-slide" style="background-color: goldenrod;">Slide 5</div>
            <div class="swiper-slide" style="background-color: darkcyan;">Slide 6</div>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <script>
        import Swiper from 'swiper';
		import { Navigation, Pagination,Autoplay } from 'swiper/modules';

        import 'swiper/css';
		import 'swiper/css/navigation';
		import 'swiper/css/pagination';

        const swiper = new Swiper('.swiper', {	
			modules: [Navigation, Pagination, Autoplay],
			loop: true,	
			pagination: {
				el: '.swiper-pagination',
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
			centeredSlides: true,
			autoplay: {
				delay: 2500,
				disableOnInteraction: false,
			},
		});
    </script>
</div>

<style lang="scss">
	.wrap {
		width: 1200px;
		margin: 0 auto;
	}
	header {
		display: flex;
		gap: 12px;
		align-items: center;
	}
	.swiper {
		height: 400px;
	}
	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
