<div class="swiper">
    <div class="swiper-wrapper"aria-live="off">
            <div class="swiper-slide" style="background-color: crimson;">
				<a href="www.naver.com" target="_blank">naver</a>
			</div>
            <div class="swiper-slide" style="background-color: goldenrod;">
				<a href="www.google.com" target="_blank">
					google
				</a>
			</div>
            <div class="swiper-slide" style="background-color: darkcyan;">
				<a href="http://daum.net" target="_blank" rel="noopener noreferrer">
					daum
				</a>
			</div>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

	<div class="controller">
		<ul>
			<li class="prev">
				 <button type="button">비주얼 이전</button>
			</li>
			<li class="stop">
				 <button type="button">비주얼 정지</button>
			</li>
			<li class="next">
				 <button type="button">비주얼 다음</button>
			</li>
		</ul>
	</div>

    <script>
        import Swiper from 'swiper';
		import { Navigation, Pagination,Autoplay } from 'swiper/modules';

        import 'swiper/css';
		import 'swiper/css/navigation';
		import 'swiper/css/pagination';

		const controll = document.querySelector(".controller");
		const stop = controll?.querySelector(".stop")
		const prev = controll?.querySelector(".prev");
		const next = controll?.querySelector(".next");


        const swiper = new Swiper('.swiper', {	
			modules: [Navigation, Pagination, Autoplay],
			loop: true,	
			pagination: {
				el: '.swiper-pagination',
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
			centeredSlides: true,
			autoplay: {
				delay: 2500,
				disableOnInteraction: false,
			},
		});

		prev?.addEventListener("click", ()=> {
			swiper.navigation.prevEl.click()
		})
		next?.addEventListener("click", ()=> {
			swiper.navigation.nextEl.click()	
		})

		stop?.addEventListener("click", ()=> {
			if(document.querySelector(".swiper .swiper-wrapper")?.getAttribute("aria-live") === 'off') {
				swiper.autoplay.pause();
				document.querySelector(".swiper .swiper-wrapper")?.setAttribute('aria-live', 'polite')

				stop.children[0].textContent = "비주얼 재생"
			}else {
				swiper.autoplay.start();
				document.querySelector(".swiper .swiper-wrapper")?.setAttribute('aria-live', 'off')
				stop.children[0].textContent = "비주얼 정지"
			}	
		})

		swiper.on('slideChangeTransitionEnd', (e)=> {
			const activeSlide = e.slides[e.activeIndex];
			const firstFocusableElement = activeSlide.querySelector('button, [href], input, select, textarea, [tabindex]:not([tabindex="-1"])');

		})
    </script>
</div>

<style lang="scss">
	.wrap {
		width: 1200px;
		margin: 0 auto;
	}
	header {
		display: flex;
		gap: 12px;
		align-items: center;
	}
	.swiper {
		height: 400px;
	}
	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.controller {
		z-index: 100;
		position: absolute;
		bottom: 0;
		left: 0;
	}
</style>
