---
import Nav from '@components/Nav.astro';
import Swiper from '@components/swiper/Swiper.astro';
import Layout from "@layouts/Layout.astro"
---
<Layout title="웹 접근성 | 나이키">
	<div class="container">
		<div class="mainVisual">
			<Swiper />
		</div>
		<section class="content_1">
			content_1
		</section>
		<section class="content_2">
			content_2
		</section>
		<section class="content_3">
			content_3
		</section>
	</div>
</Layout>

