---
const dev = import.meta.env.DEV;
const setHrefPath = (pageName:string)=> {
	if(dev === true) {
		return `${import.meta.env.BASE_URL}/${pageName}/`;
	}else {
		return `${import.meta.env.BASE_URL}/${pageName}/index.html`;

	}
}
---

<nav id="container">
	<ul role="list">
		<li>
			<a href={setHrefPath('about')}>about</a>
		</li>
		<li>
			<a href={setHrefPath('product')}>product</a>
		</li>
		<li>
			<a href={setHrefPath('product/pie')}>pie</a>
		</li>
	</ul>
</nav>

<style lang="scss">
	nav {
		ul {
			display: flex;
			gap: 12px;
			align-items: center;
		}
		li {	
			list-style: none;
		}
		a {
			font-size: 20px;
			text-decoration: none;
			color: #333;
			font-weight: 600;
		}
		:focus-visible {
			outline: 3px solid red;
		}
		:focus:not(:focus-visible) {
				outline: 0;
			}

	}
	
</style>
